# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Pytest
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Model files
weights/*.pt
*.pt
*.pth
*.onnx
*.ckpt
*.safetensors
*.pickle
*.pkl

# Uploads/Outputs
uploads/
outputs/
predictions/

# Cache
.cache/